<a href="https://colab.research.google.com/github/isabelbrandao/python-basics-exercises/blob/master/N%C3%BAmeros_Inteiros_vs_Floats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">

#### **Python do Zero**
*by [sigmoidal.ai](https://sigmoidal.ai)*

---

##Inteiros e Floats

Os números inteiros (como 5, 4, 33) são do tipo `int`, enquanto aqueles números que carregam uma parte fracional (como 5.5, 3.33, 3.14, 5.0) são do tipo `float`. No começo, lidar com tipos de números pode ser confuso, mas a prática vai fazer você entender.

Para saber o tipo de uma variável, você pode usar a função `type`.

<center><img width="45%" src="https://image.freepik.com/free-photo/blackboard-inscribed-with-scientific-formulas-calculations_1150-19413.jpg
"></center>

No primeiro exemplo, vemos que o número 5 não possui parte fracional, por isso, é um inteiro.

In [1]:
# verificando o tipo. Aqui, o 5 é inteiro.
type(5)

int

Quando adicionamos uma parte fracional, o número se torna um `float`.

In [2]:
# a variável abc representa o número 44.44, que tem parte fracional, portanto, float.
abc = 44.44
type(abc)

float

Caso adicionemos parte fracional ao nosso 5 (`int`), ele passa a ser um `float`, mesmo que a parte fracional seja 0.

In [3]:
# aqui o 5.0 é um float.
type(5.0)

float

Em mais um exemplo podemos ver que pi é um número com parte fracional, portanto, `float`.

In [4]:
pi = 3.14
type(pi)

float

Na documentação oficial do Python encontramos que ao fazer a divisão de números inteiros, temos por resultado um número `float`, mesmo que a divisão seja inteira.

In [5]:
# divisão de inteiros
y = 3 / 3
print(y)
type(y)

1.0

float

In [6]:
# uma divisão SEMPRE vai retornar um float como resultado
print(type(3 / 3))
print(type(10.0 / 5))
print(type(10.0 / 2.0))

<class 'float'>
<class 'float'>
<class 'float'>

Existem momentos em que você vai querer converter um `float` em `int`. Isso pode ser feito com `int()`. O mesmo vale para a operação contrário, bastando indicar a variável dentro dos parênteses.

In [7]:
idade = 35.00
type(idade)

float

In [8]:
# converter
idade = int(idade)
type(idade)

int

In [9]:
float(3)

3.0

Existe ainda uma opção quando eu quero realizar uma divisão, porém quero ficar apenas com a parte inteira de um número, descartando toda a parte fracionária. Essa operação pode ser feita usando `//`.

In [10]:
print(11 / 3)  # divisão normal com /
print(11 // 3) # divisão usando //

3.6666666666666665
3

## Exercícios

Agora que vimos um pouco mais sobre inteiros e floats, vamos praticar um pouco.

<center><img width="40%" src="https://image.freepik.com/free-photo/business-women-signature-document_1388-90.jpg
"></center>

#### Exercício 1
Transforme o resultado a divisão de inteiros em inteiro.

$$
\begin{aligned}
x & = 25 / 5
\end{aligned}
$$

In [13]:
# resposta
x = 25 / 5
print('Result as float: ', x)
print('Type: ',type(x))

# Transform in int
x = int(x)
print('Result as int: ', x)
print('Type: ', type(x))

Result as float:  5.0
Type:  <class 'float'>
Result as int:  5
Type:  <class 'int'>

In [12]:
#@title Solução
x = 25/5
print('Resultado como float: ', x)
print('Tipo: ', type(x))
#transformando em int
x = int(x)
print('Resultado como integer: ', x)
print('Tipo: ', type(x))

Resultado como float:  5.0
Tipo:  <class 'float'>
Resultado como integer:  5
Tipo:  <class 'int'>

#### Exercício 2
Use a função `type()` para descobrir os tipos das seguintes variáveis:

In [14]:
# variáveis
x = 33
y = 33/3
z = 33.5
print('Type: ', type(x))
print('Type: ', type(y))
print('Type: ', type(z))

Type:  <class 'int'>
Type:  <class 'float'>
Type:  <class 'float'>

In [16]:
# resposta
x = int(x)
y = int(y)
z = int(z)

print('Type: ', type(x))
print('Type: ', type(y))
print('Type: ', type(z))

Type:  <class 'int'>
Type:  <class 'int'>
Type:  <class 'int'>

In [ ]:
#@title Solução
print(type(x))
print(type(y))
print(type(z))

#### Exercício 3
Usando as variáveis do exercício anterior, transforme todas elas em `int`.

In [ ]:
# resposta

In [17]:
#@title Solução
x = int(x)
y = int(y)
z = int(z)

# conferindo os tipos
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### Exercício 3
Usando as variáveis do exercício anterior, transforme todas elas em `float`.

In [19]:
# resposta
x = float(x)
y = float(y)
z = float(z)

# conferindo os tipos
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#@title Solução
x = float(x)
y = float(y)
z = float(z)

# conferindo os tipos
print(type(x))
print(type(y))
print(type(z))